.FilterSortButton {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alineación a la derecha */
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .FilterSortButton .section {
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .FilterSortButton h3 {
    font-size: 14px; /* Tamaño más pequeño */
    font-family: monospace;
    color: black;
    margin-bottom: 5px;
    align-self: flex-end; /* Alineación a la derecha */
  }
  
  .FilterSortButton button {
    margin-right: 0; /* Eliminamos el margen derecho */
    padding: 20px 16px; /* Aumentamos el tamaño de los botones */
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #fff; /* Fondo blanco */
    color: #000;
    font-family: monospace;
    font-size: 12px; /* Reducimos el tamaño de la fuente */
    border-radius: 5px; /* Borde redondeado */
    
}
  
  .FilterSortButton button:hover {
    background-color: #f9f9f9;
  }
  
  .FilterSortButton .buttons {
    display: flex; /* Alineación de los botones */
  }
  
  .FilterSortButton .buttons button {
    margin-right: 5px;
    font-size: 20px; /* Tamaño de las flechas más grandes */
    padding: 8px; /* Aumentamos el espacio interno */
  }
  
  .FilterSortButton select {
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: monospace;
    font-size: 12px; /* Reducimos el tamaño de la fuente */
  }
  
  .FilterSortButton option {
    font-family: monospace;
    font-size: 18px;
  }
  