.FilterSortButton {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 0;
  }
  
  .FilterSortButton h2 {
    font-size: 20px;
    font-family: monospace;
    color: white;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: -170px;
  }
  
  .FilterSortButton h3 {
    font-size: 14px;
    font-family: monospace;
    color: white;
    margin-bottom: 2px;
    margin-left: 0px;
    display: inline-block; 
  }
  
  .buttonOrigin,
  .buttonType {
    padding: 8px 12px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
    color: #000;
    font-family: monospace;
    font-size: 15px;
    border-radius: 5px;
    width: 210px;
    height: 20px;
    margin-left: 10px;
  }
  
  .buttonAttack,
  .buttonName {
    padding: 8px 12px;
    background-color: white;
    border-radius: 5px;
    width: 220px;
    height: 20px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
  }

   .buttonAttack button,
  .buttonName button{
    background-color: transparent;
    border: none;
    border-radius: 0px;
    width: 110px;
    height: 35px;
    margin-left: 0px;
    border-color: transparent;
  }
  
   .buttonAttack::before,
  .buttonName::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #d64a3a; 
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  
 .buttonOrigin,
  .buttonType {
    width: 240px;
    height: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .FilterSortButton option {
    font-family: monospace;
    font-size: 18px;
  }

  