.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .card-name {
    font-weight: bold;
    font-size: 1.2rem;
    color: black
  }
  
  .card-image {
    width: 150px;
    height: 150px;
  }
  
  .card-stat {
    font-size: 1rem;
    margin: 5px 0;
  }
  