.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 8px 12px;
  margin: 0 5px;
  border: 4px solid #ccc;
  border-radius: 7px;
  background-color: #b1afafd3;
  color: #333;
  cursor: pointer;
}

.current-page {
  background-color: #a04545;
  color: #ffffff;
  font-size: 16px;
  padding: 8px 12px;
  margin: 0 5px;
  border: 1px solid #ccc;
}
  