.NavBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #d64a3a; /* Color de fondo de la NavBar (color1) */
  color: #e2e2ae; /* Color del texto de la NavBar (color4) */
  padding: 10px;
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  font-size: 14px; /* Aumentamos el tamaño de fuente */
  font-weight: 500;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.NavBar .logo {
  margin-right: 10px;
  margin-bottom: 5px;
}

.NavBar .logo img {
  height: 150px;
  width: auto;
}

.NavBar .navLinks {
  display: flex;
  flex-direction: column; /* Cambio a dirección de columna */
  align-items: flex-start;
  margin-bottom: auto;
  margin-top: 20px;
}

.NavBar .navLinks a {
  text-decoration: none;
  color: black;
  font-size: 14px; /* Alineamos el tamaño de fuente con otros elementos */
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #d2b48c;
  border-radius: 4px;
  background-color: #f5deb3;
}

.NavBar .navLinks a:hover {
  background-color: #ffe4b5;
}

.NavBar .buttons {
  margin-top: 0px;
  margin-bottom: 50px;
}

.NavBar .searchBar {
  margin-top: 0px;
  margin-bottom: 30px;
}

