.NavBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #b84b3f; 
  color: #e2e2ae; 
  padding: 20px;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  font-size: 14px; 
  font-weight: 500;
  padding-bottom: 0px;
  padding-top: 0px;
}

.NavBar .logo img {
  height: 200px;
  width: auto;
  margin-left: -10px;
}

.NavBar .buttons {
  margin-top: 0px;
  margin-bottom: 50px;
}

.NavBar .searchBar {
  margin-top: -10px;
  margin-bottom: 30px;
}

.NavBar .create {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 19px;
  color: #b84b3f;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 20px;
}

.NavBar .create:hover {
  background-color: #f5f5f5;
}

.NavBar .about img {
  height: 30px;
  width: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 0px;
  margin-left: 100px;
}
