.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
  }
  
  select {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    background-color: #fff;
    color: #000;
  }
  
  label {
    font-size: 18px;
    color: #f2cb07;;
    text-transform: uppercase;
  }
  
  button[type="submit"] {
    margin: 20px;
    padding: 10px 20px;
    background-color: #f2cb07;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #f28413;
  }
  
  .type-select-container select {
    width: 120%;
    height: 5rem; /* Ajusta la altura deseada */
    font-size: 1rem; /* Ajusta el tamaño de fuente deseado */
  }
  